@page "/"
@implements IDisposable
@inject HttpClient Http
@inject PersistentComponentState ApplicationState

<PageTitle>Index</PageTitle>

@if (cmsData == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h1>@cmsData.fields.title</h1>

    @((MarkupString)cmsData.fields.text)
}

<a href="/fetchdata">Fetch data</a>

<SurveyPrompt Title="How is Blazor working for you?" />


@code {
    private Root? cmsData;

    private PersistingComponentStateSubscription persistingSubscription;

    protected override async Task OnInitializedAsync()
    {
        //persisting state
        persistingSubscription =
            ApplicationState.RegisterOnPersisting(PersistData);

        if (!ApplicationState.TryTakeFromJson<Root?>("CmsData", out var restored))
        {
            cmsData = await Http.GetFromJsonAsync<Root>("https://localhost:44384/en/api/content/a88097c7-c966-48e9-9887-22b3f80440d6");
        }
        else
        {
            cmsData = restored!;
        }

        //cmsData = await Http.GetFromJsonAsync<Root>("https://localhost:44384/en/api/content/a88097c7-c966-48e9-9887-22b3f80440d6");
    }

    private Task PersistData()
    {
        ApplicationState.PersistAsJson("CmsData", cmsData);

        return Task.CompletedTask;
    }

    void IDisposable.Dispose()
    {
        persistingSubscription.Dispose();
    }

    // Root myDeserializedClass = JsonConvert.DeserializeObject<Root>(myJsonResponse);
    public class Fields
    {
        public string title { get; set; }
        public string text { get; set; }
    }

    public class Root
    {
        public System system { get; set; }
        public Fields fields { get; set; }
    }

    public class System
    {
        public string id { get; set; }
        public string name { get; set; }
        public string urlSegment { get; set; }
        public string type { get; set; }
        public DateTime createdAt { get; set; }
        public DateTime editedAt { get; set; }
        public string contentType { get; set; }
        public string locale { get; set; }
        public object url { get; set; }
    }
}